html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: .25em;
  margin-top: 0;
  line-height: 1.2;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  top: 50%;
  max-width: 45em;
  left: 50%;
  padding: 1em;
  width: 100%;
  transform: translate(-50%,-50%);
}

.content {
  float: right;
  width: 66.666%;
  padding: 0 3em;
}

.content p {
  font-size: 1.5rem;
  margin-top: 0;
}

.image {
  float: left;
  width: 33.333%;
}

.btn {
  text-decoration: none;
  border:3px solid #333;
  padding:.5em .75em;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  display: inline-block;
}

.btn:hover {
  background-color: #fff;
}

.btn-big {
  font-size: 1.5rem;
}
