html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

.img-flex {
  display:block;
  width: 100%
}

.btn-big {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  bottom: 50%;
  max-width: 45em;
  right:50%;
  width: 100%;
  transform: translate(50%,50%);
}

.content {
  float: right;
  width: 50%;
}

.content p {
  font-size: 1.5rem;
}

.image {
  float: left;
  padding: 2em;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
  border:3px solid #333;
  padding: .4em .75em .3em;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
}
